<mat-card class="container">
  <mat-card-header>
    <mat-card-title class="title">Adicionar novo usuário</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <form [formGroup]="form">
      <div class="content-user">
        <mat-form-field appearance="fill">
          <mat-label>Usuário (e-mail)</mat-label>
          <input matInput formControlName="email" />
          <mat-error
            *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched"
            >*Campo obrigatório</mat-error
          >
          <mat-error
            *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched"
            >*Tipo email inválido!</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nome Completo</mat-label>
          <input matInput formControlName="name" />
          <mat-error
            *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched"
            >*Campo obrigatório</mat-error
          >
        </mat-form-field>
      </div>
      <div class="information">
        <mat-form-field class="cpf" appearance="fill">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" minlength="11" maxlength="11" />
          <mat-error
            *ngIf="form.get('cpf')?.errors?.['required'] && form.get('cpf')?.touched"
            >*Campo obrigatório</mat-error
          >
          <mat-error
            *ngIf="form.get('cpf')?.errors?.['minlength'] ||
            form.get('cpf')?.errors?.['minlength'] && form.get('cpf')?.touched"
            >*Quantidade de caracteres inválidas</mat-error
          >
        </mat-form-field>
        <mat-form-field class="tel" appearance="fill">
          <mat-label>Celular</mat-label>
          <input matInput formControlName="celular" />
          <mat-error
            *ngIf="form.get('celular')?.errors?.['required'] && form.get('celular')?.touched"
            >*Campo obrigatório</mat-error
          >
          <mat-error
            *ngIf="form.get('celular')?.errors?.['minlength'] && form.get('celular')?.touched"
            >*Quantidade de caracteres inválidas</mat-error
          >
        </mat-form-field>
        <mat-form-field class="contato" appearance="fill">
          <mat-label>Selecione</mat-label>
          <mat-select>
            <mat-option value="na">N/A</mat-option>
            <mat-option value="CELULAR">CELULAR</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <p>
      O usuário receberá uma senha provisória para acesso ao sistema por SMS.
    </p>
    <div class="botao">
      <button
        [mat-dialog-close]="update"
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
        (click)="submit()"
      >
        SALVAR
      </button>
      <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
    </div>
  </mat-card-content>
</mat-card>
